<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Добро пожаловать на сайт альянса</h1>
  <h1 class="display-3 color_gold">DiamondDolls</h1>
  <p class="lead display-5">Готовы вступить и начать сражаться?</p>
  <hr class="my-4">
  <h3 class="h3">Кто с мечом к нам придет — от меча и погибнет</h3>
  <a class="btn btn-primary btn-lg" href="#" role="button">Создать аккаунт</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Войти</a>
</div>

